<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Forgot Password</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <style>
            .link-container {
                margin-left: 10px; 
            }
        </style>
    </head>
    <body>
     <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger" th:if="${error != null}">
            <p>[[${error}]]</p>
        </div>
        <div class="alert alert-warning" th:if="${message != null}">
            <p>[[${message}]]</p>
        </div>
        
        <form th:action="@{/forgot_password}" method="post">
            <div><label>Email: <input type="email" name="email" class="form-control"/> </label></div>
            <div><input type="submit" value="Send link" class="btn btn-primary"/></div>
        </form>
        <a th:href="@{/login}">Login</a>
        <a th:href="@{/signup}" class="link-container">Sign-up</a>
       </div>
    </body>
</html>